@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-move {
  position: relative;
  animation: move 13s linear infinite;
}
.me {
  font-weight: 600;
  font-size: 15px;
  padding-left: 10px;
}
.me:hover {
  color: rgb(130, 230, 0);
}
